.labels {
    margin-top: 1em;
    align-items: center;
    .row {
        margin-top: 5em;
        display: block !important;
        a {
            padding: .5em;
        }
    }
}
@media (max-width: 575px) { 
    .labels {
        margin-top: 12em;
        .row {
            a {
                display: block;
            }
        }
    }
}
@media (max-width: 767px) { 
    margin-top: 6em;
 }
