* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
*, img {
    max-width: 100%; 
}
.row {
    margin-left: 0;
}
ul {
    list-style: none;
}
body {
    padding: 0;
}


// @include media-breakpoint-up(xs) { 

//  }
// @include media-breakpoint-up(sm) {  }
// @include media-breakpoint-up(md) {  }
// @include media-breakpoint-up(lg) {  }
// @include media-breakpoint-up(xl) {  }

@import 'variables.scss';
@import 'navbar.scss';
@import 'labels.scss';
@import 'photo-grid-1.scss';
@import 'footer.scss';